@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

body{
    font-family:'PT Serif', serif;
}
header{
    margin: 0;
}
/*---Nav---*/
nav{
    padding: 0 !important;
}
.logo, .logo h1, .logo i{
    display: flex;
}
.navbar-brand{
    padding-left: 60px;
    text-decoration: none;
}
.fa-paw{
    margin: 0;
    padding-left:10px;
    padding-top: 5px;
}
.navigation{
    background-color: #2E2514;
    color: white !important;
}
.navbar-collapse{
    text-decoration: none;
    margin-left: 65vh;
}
.navbar-nav li{
    padding: 0 30px;
    font-size: 20px;
}
.navbar-brand a, .nav-item a{
    text-decoration: none;
    color: white;
}
/*---Main Content---*/

/*---Footer---*/

/*---Hover---*/

/*---Media Queries---*/