@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

body{
    font-family:'PT Serif', serif;
}
header{
    margin: 0;
}
/*---Nav---*/
nav{
    padding: 0 !important;
}
.logo, .logo h1, .logo i{
    display: flex;
}
.navbar-brand{
    padding-left: 60px;
    text-decoration: none;
}
.fa-paw{
    margin: 0;
    padding-left:10px;
    padding-top: 5px;
}
.navigation{
    background-color: #2E2514;
    color: white !important;
}
.navbar-collapse{
    text-decoration: none;
    margin-left: 60vh;
}
.navbar-nav li{
    padding: 0 30px;
    font-size: 20px;
}
.navbar-brand a, .nav-item a{
    text-decoration: none;
    color: white;
}
.alert-danger{
    margin-bottom: 0;
}
.hero-image-div{
    padding: 0;
    margin-bottom: 130px;
}
/*---Main Content---*/
.img-article1{
    float: left;
    padding-right: 20px;
    margin-bottom:20px;
    width: 300px;
    height: 200px;
}
.img-article2{
    float: right;
    padding-right: 20px;
    margin-bottom:20px;
    padding-left:20px;
    width: 300px;
    height: 200px;
}
.card{
    width: 30rem;
}
.goal-tab{
    border-style: inset;
    border-color: #36454f;
    margin-bottom:20px;
    margin-top:20px;
}
.goal-tab h2{
    text-align: center;
    padding-top:20px;
}
.goal-img{
    margin-bottom: 20px;
    margin-top:20px;
}
.title-2{
text-align:center;
}
.burger{
    width: 30px;
}

.main-title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
.carousel-item img{
width:1200px;
height:500px;
object-fit: cover;
}
.carousel-style{
    margin-top:30px;
    margin-bottom: 30px;
}
/*---Footer---*/
.footer{
   background-color: #2E2514; 
}
.footer .container{
    display: block;
    text-align: center;
}
.footer .social-icons{
    list-style: none;
    display: inline-block;
}
.footer .social-icons li{
    padding-top: 20px;
    padding-right: 20px;
    display: inline-block;
    font-size: 37px;
}
.footer .fab{
    color: white;
}
.footer p{
padding: 20px 0 30px 0;
color: white;
}
/*---Hover---*/
a:hover, button:hover{
color: #f5c30c;
}


/*---Media Queries---*/

@media screen and (max-width: 1025px) and (min-width: 610px) {

/*---Navbar---*/
nav h1, .collapse a{
    font-size: 25px;
}
.navbar-collapse{
    margin-left: 0;
}
}

@media only screen and (max-width: 600px) {

/*---Navbar---*/
nav h1, .collapse a{
    font-size: 20px;
}
.navbar-collapse{
    margin-left: 0;
}
.card{
    width:auto;
}
}